* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

:root {
  --bs-white: #fff;
  --bs-color: #eb3e32;
  --bs-discount: #ffd004;

  --height-header: 80px;
  --height-navbar: 44px;
}

::-webkit-scrollbar {
  display: none;
}

.btn-color {
  background-color: var(--bs-color);
  color: var(--bs-white);
  opacity: 0.7;
}

.btn-color:hover {
  color: var(--bs-white);
  opacity: 1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--bs-dark);
}

.no-padding-left {
  padding-left: 0;
}

/* Header start */
header {
  height: var(--height-header);
  background-color: var(--bs-white);
}
/* Header logo */
.header__logo {
  height: var(--height-header);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__logo img {
  width: 90%;
  height: 50%;
  display: flex;
  align-items: center;
}
/* Header content */
.header__content {
  height: var(-height--header);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__search {
  flex: 1;
  position: relative;
}

.header__search .header__search-btn {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid var(--bs-color);
  padding-left: 10px;
  outline: none;
}

.header__search-icon-btn {
  position: absolute;
  top: 2px;
  right: 2px;
  outline: none;
  background-color: var(--bs-color);
  border: 1px solid var(--bs-color);
  border-radius: 5px;
  width: 50px;
  height: 36px;
  color: var(--bs-white);
  opacity: 0.7;
}

.header__search-icon-btn svg {
  display: flex;
  margin: auto;
}

.header__search-icon-btn:hover {
  opacity: 1;
}

.header__user {
  display: flex;
  align-items: center;
}

.header__user-phone,
.header__user-login {
  display: flex;
  align-items: center;
}

.header__user-phone-content p,
.header__user-login-content p {
  display: block;
  margin: 0;
  font-size: 14px;
}

.header__user-phone-content a,
.header__user-login-content .btn-login-user {
  text-decoration: none;
  color: var(--bs-dark);
  font-size: 16px;
  font-weight: 700;
  color: var(--bs-color);
  opacity: 0.7;
}

.header__user-login-content .btn-login-user {
  padding: 0;
}

.header__user-phone-content a:hover,
.header__user-login-content .btn-login-user:hover {
  opacity: 1;
}

.header__user-login img,
.header__user-phone img {
  width: 30px;
  height: 30px;
  margin: 0 12px 0 24px;
}

.header__group {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header__group-like,
.header__group-cart,
.header__group-compare {
  position: relative;
}

.header__group-like:hover svg,
.header__group-cart-icon:hover svg,
.header__group-compare:hover svg {
  color: var(--bs-color);
}

.header__group-like svg,
.header__group-cart-icon svg,
.header__group-compare svg {
  width: 25px;
  height: 25px;
  margin-left: 20px;
}

.header__group-noti {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: var(--bs-color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 18px;
  color: var(--bs-white);
}

.header__group-no-cart {
  position: absolute;
  top: 40px;
  right: -20px;
  border-radius: 5px;
  padding: 20px 10px;
  display: none;
  width: 250px;
  z-index: 10;
  background-color: var(--bs-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: hide-show ease forwards 0.3s;
}

.header__group-no-cart::after {
  content: "";
  background-color: transparent;
  width: 40px;
  height: 25px;
  position: absolute;
  top: -15px;
  right: 20px;
}

.header__group-cart:hover .header__group-no-cart,
.header__group-cart:hover .header__group-yes-cart {
  display: block;
}

.header__group-no-cart svg {
  width: 50px;
  height: 50px;
  color: var(--bs-color);
  display: flex;
  margin: auto;
}

.header__group-no-cart p {
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}

/* Hearder cart buy */
.header__group-yes-cart {
  position: absolute;
  top: 36px;
  right: -20px;
  width: 330px;
  display: none;
  padding: 0 10px;
  border-radius: 5px;
  background-color: var(--bs-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header__group-yes-cart::after {
  content: "";
  background-color: transparent;
  width: 40px;
  height: 25px;
  position: absolute;
  top: -15px;
  right: 20px;
}

.header__group-yes-cart h3 {
  font-size: 18px;
  padding: 10px 0;
  border-bottom: 1px solid var(--bs-color);
}

.product__cart {
  list-style: none;
  padding: 0;
  margin: 0px;
}

.product__cart-item {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid var(--bs-color);
}

.product__cart-item img {
  width: 74px;
  height: 74px;
  margin-top: 6px;
}

.product__cart-item-content {
  flex: 1;
}

.product__cart-item-content a {
  text-decoration: none;
  color: var(--bs-dark);
  font-size: 16px;
}

.product__cart-item-content a:hover {
  color: var(--bs-color);
}

.product__cart-quantily {
  margin-right: 10px;
}

.content__quantity-btn {
  display: flex;
  border: 1px solid var(--bs-color);
}

.product__cart-quantily span {
  font-size: 14px;
}

.content__quantity-btn input {
  width: 50px;
  height: 25px;
  padding-left: 5px;
  outline: none;
  border: none;
  border-radius: 0;
  border-left: 1px solid var(--bs-color);
  border-right: 1px solid var(--bs-color);
}

.content__quantity-minus,
.content__quantity-plus {
  outline: none;
  border: none;
  width: 20px;
  height: 25px;
  color: var(--bs-color);
  background-color: var(--bs-white);
}

.content__quantity-minus:hover,
.content__quantity-plus:hover,
.product__cart-delete:hover {
  color: var(--bs-white);
  background-color: var(--bs-color);
}

.product__cart-item-buy span {
  font-size: 14px;
  font-weight: 700;
  color: var(--bs-color);
}

.product__cart-delete {
  border: 1px solid var(--bs-color);
  background-color: var(--bs-white);
  padding: 0 5px;
  border-radius: 5px;
}

.product__footer {
  margin: 10px 0;
}

.product__footer-sum {
  display: flex;
  justify-content: space-between;
}

.product__footer-sum p {
  font-size: 16px;
  font-weight: bold;
  color: var(--bs-color);
}

.product__footer-btn-payment {
  border: none;
  width: 100%;
  line-height: 25px;
  border-radius: 5px;
  color: var(--bs-white);
  background-color: var(--bs-color);
  opacity: 0.7;
}

.product__footer-btn-payment:hover {
  opacity: 1;
}

/* Header end */

/* banner */
.carousel {
  margin: 10px 0;
}

.carousel-inner {
  border-radius: 10px;
}

.carousel-indicators [data-bs-target] {
  height: 5px;
}

.carousel-item img {
  width: 100%;
}

/* section category */
.section__category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
  overflow-y: hidden;
  overflow-x: auto;
  margin: 0 10px;
}

.section__category-item {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 130px;
  margin-right: 5px;
  text-decoration: none;
}

.section__category-item img {
  margin: 0 auto;
  transition: all 0.3s;
}

.section__category-item:hover img {
  transform: rotate(45deg);
}

.section__category-item:hover span {
  color: var(--bs-yellow);
}

.section__category-item span {
  color: var(--bs-dark);
  text-align: center;
  font-size: 16px;
  width: 120px;
}

/* Section product */
.section__products {
  width: 100%;
  height: 370px;
  border-radius: 10px;
  margin: 10px 0;
  overflow: hidden;
}

.section__products-title {
  display: flex;
  justify-content: flex-start;
  height: 60px;
  background-color: var(--bs-gray-200);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: var(--bs-gray-600);
  overflow-x: scroll;
}

.section__products-title-item {
  text-align: center;
  flex: 1;
  cursor: pointer;
  min-width: 210px;
}

.section__products-phone.active,
.section__products-style.active,
.section__products-appliances.active {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #ec4f2e;
  color: var(--bs-white);
}

.section__products-style.active {
  background-color: #fdd742;
}

.section__products-appliances.active {
  background-color: #b4e4f2;
}

.section__products-title-item h3 {
  margin: 10px 0 0;
  font-size: 18px;
  font-weight: 500;
}

.section__products-title-item p {
  margin: 0;
  font-size: 14px;
}

.section__products-content-abs {
  cursor: pointer;
}

.section__products-content {
  width: 100%;
  height: 310px;
  background-color: #ec4f2e;
}

.section__products-content-phone,
.section__products-content-style,
.section__products-content-appliances {
  display: flex;
  background-color: #ec4f2e;
  overflow-y: hidden;
  overflow-x: auto;
}

.section__products-content-style {
  background-color: #fdd742;
}

.section__products-content-appliances {
  background-color: #b2e2ef;
}

.item__product {
  height: 285px;
  margin: 15px 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--bs-white);
  padding: 10px;
  position: relative;
}

.item__product img {
  width: 168px;
  height: 180px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transform: scale(0.9);
  transition: all 0.5s;
}

.item__product:hover img {
  transform: scale(1);
}

.item__product-name {
  display: block;
  font-size: 14px;
  width: 188px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  font-size: 14px;
}

.item__product-buys-new {
  margin: 0;
  color: var(--bs-color);
  font-weight: bold;
}

.item__product-buys-last {
  margin: 0;
  color: var(--bs-gray-600);
  text-decoration: line-through;
}

.item__product-buys-last.disable {
  display: none;
}

.item__product-cart {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: 0;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  transition: all 0.7s;
  color: var(--bs-gray-600);
}

.item__product-cart svg {
  width: 20px;
  height: 20px;
  display: flex;
  margin: auto;
}

.item__product:hover .item__product-cart {
  background-color: var(--bs-color);
  color: var(--bs-white);
  transform: rotate(360deg);
}

.product-icon {
  position: absolute;
  top: 0;
  right: 10px;
  transform: scale(0);
  transition: all 0.4s;
}

.product-icon .icon-heart,
.product-icon .icon-compare {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bs-white);
  background-color: var(--bs-color);
}

.item__product:hover .product-icon {
  transform: scale(1);
}

.product-discount {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--bs-discount);
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  width: 40px;
}

.product-discount::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -19px;
  right: 0;
  background-color: var(--bs-discount);
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.product-discount::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -19px;
  left: 0;
  background-color: var(--bs-discount);
  clip-path: polygon(100% 0, 0 0, 0 100%);
}

.product-discount p {
  margin: 0;
}

.product-discount.disable {
  display: none;
}

.section__products-content-list-phone,
.section__products-content-list-style,
.section__products-content-list-appliances {
  display: none;
}

.section__products-content-list-phone.active,
.section__products-content-list-style.active,
.section__products-content-list-appliances.active {
  display: flex;
}

/* section tech products */
.section__tech-heading,
.section__fashion-heading {
  margin: 40px 0 20px;
  border-bottom: 2px solid var(--bs-color);
}

.section__tech-heading .heading__block,
.section__fashion-heading .heading__block {
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  background-color: var(--bs-color);
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: block;
  line-height: 40px;
  text-align: center;
}

.heading__block a {
  color: var(--bs-white);
}

.section__tech-title,
.section__fashion-title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  font-weight: bold;
  text-align: end;
}

.section__tech-title-item,
.section__fashion-title-item {
  margin-left: 20px;
}

.heading__block:hover a,
.section__tech-title-item:hover a,
.section__fashion-title-item:hover a {
  color: var(--bs-yellow);
}

.section__tech-products-abs img,
.section__fashion-products-abs img {
  width: calc(100% - 10px);
  height: 270px;
}

.section__tech-products-abs img:last-child,
.section__fashion-products-abs img:last-child {
  margin-top: 10px;
}

.section__tech-products-item .item__product,
.section__fashion-products-item .item__product {
  margin: 0;
}

/* modal */
.modal-header h5 {
  padding: 0 10px;
  color: var(--bs-color);
  font-weight: 700;
  opacity: 0.7;
  cursor: pointer;
}

.modal-header h5:hover {
  opacity: 1;
}

.modal-register {
  border-left: 1px solid var(--bs-color);
}

.modal-title.check {
  opacity: 1;
}

.modal-body {
  display: none;
}

.modal-body.check {
  display: block;
}

/* key frame animation */
@keyframes hide-show {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
